version: '3.3'
services:
    shelly_collector:
        image: ghcr.io/pandeof1/shelly_collector:main
        container_name: shelly_collector
        environment:
            - INFLUXDB_TOKEN="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
            - INFLUXDB_URL="http://xxx.xxx.xxx.xxx:8086"
            - INFLUXDB_BUCKET="xxx"
            - INFLUXDB_ORG="xxx"
            - COLLECTOR_IP="localhost"
        ports:
            - 8000:8000
        restart: always
